<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%cyan(%d{HH:mm:ss.SSSXXX}) %gray([%-10.10thread]) %highlight(%-5.5level) %magenta(%-64.64logger) | %msg %red(%ex) %nopex %n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="com.zaxxer.hikari" level="WARN" />
    <logger name="org.apache.tomcat" level="WARN" />
    <logger name="org.hibernate" level="WARN" />
    <logger name="org.hibernate.SQL" level="DEBUG" />
    <logger name="org.hibernate.type.descriptor.sql" level="TRACE" />

</configuration>
